@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #gradient-shadow::before {
    content: "";
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    position: absolute;
    height: 120%;
    width: 80%;
    bottom: 0;
    z-index: -10;
    filter: blur(100px);
  }
}
